
footer{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;    
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-image: url(../../img/footer-background.png);    
}
.footer-contant {
    width: 1200px;
    height: 310px;
    display: flex;
    justify-content: space-between;    
}
.contacts, .locations {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts {
    width: 278px;
    height: 234px;
}
.contacts h3{
    width: 288px; /* проверить размер */
    height: 90px;
    color: #FFFFFF;
}
.mail {
    width: 251px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    width: 239px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mail .icon,
.phone .icon {
    width: 40px;
    height: 32px;
}
.mail .icon{
    background-image: url(../../svg/icon-email.svg);
}
.phone .icon{
    background-image: url(../../svg/icon-phone.svg);
}
.mail h4{
    width: 191px;
    height: 23px;
    color: #F1CDB3;
}
.phone h4{
    width: 179px;
    height: 23px;
    color: #F1CDB3;
    white-space: nowrap;
}
.locations {
    width: 302px;
    height: 234px;
}
.locations h3{
    width: 270px;
    height: 90px;
    color: #FFFFFF;
}
.town-1{
    width: 302px;
    height: 46px;    
}
.town-1 h4{
    width: 260px;
    height: 46px; 
    white-space: nowrap;    
}
.town-2{
    width: 302px;
    height: 32px;    
}
.town-2 h4{
    width: 260px;
    height: 23px; 
}
.town{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.town .icon{
    width: 22px;
    height: 32px;
    background-image: url(../../svg/icon-marker.svg);
    
}
.town h4{
    color: #F1CDB3;
}
.footer-puppy {
    width: 300px;
    height: 310px;
    background-image: url(../../img/footer-puppy.png);
}