header{
    height: 120px;    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header-conteiner{
    max-width: 1200px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 184px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-title {
    width: 184px;
    height: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;    
    color: #F1CDB3;
    white-space: nowrap;
}
.logo-subtitle {
    width: 179px;
    height: 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

nav ul{
    width: 443px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a{
    color: #CDCDCD;
}



