.pets {
    height: 877px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
}

.pets-contant {
    width: 1200px;
    height: 697px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pets-contant h3{
    width: 400px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.slider {
    max-width: 1200px;
    width: 100%;
    height: 435px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carusel{
    overflow: hidden;
}
.carusel,
.slider-wraper,
.item_active{
    max-width: 996px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_active{
    flex: 1 0 100%;
}
.button-arrow:last-child {
    position: relative;
    transform: rotateZ(180deg);
}
.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.slider-foto {
    width: 270px;
    height: 270px;    
}
.slider .card:nth-child(1) .slider-foto{    
    background-image: url(../../img/pets-katrine.png);
}
.slider .card:nth-child(2) .slider-foto{    
    background-image: url(../../img/pets-jennifer.png);
}
.slider .card:nth-child(3) .slider-foto{    
    background-image: url(../../img/pets-woody.png);
}
.slider-title {
}

.pets .button-primary {
    width: 261px;
    height: 52px;
}

.slider .card:hover {
    cursor: pointer;
}
.slider .card:hover > .button-secondary{
    background: #FDDCC4;
}
/* Media */
@media(max-width: 1200px){
   .pets{        
        padding-top: calc(100%*80/768);
   }
   .pets-contant{
        max-width: 708px;
        width: 100%;
        height: 697px;
   }
   .slider{
        max-width: 708px;
        height: 435px;
   }  
   .slider-wraper,
   .item_active{
    max-width: 580px;
   }
   .slider .card:nth-child(3){
        display: none;
   }
}
@media(max-width: 715px){
    .pets{
        height: 791px;
        padding: 0;
    }
    .pets-contant{
        min-height: 707px;
        height: 100%;
    }
    .pets-contant h3{
        width: 300px;
        height: 64px;
        font-size: 25px;
        text-align: center;
    }
    .slider{
        flex-wrap: wrap;
        width: 270px;
        height: 507px;
        justify-content: space-around;
        align-content: space-between;
    }
    .slider .card:nth-child(2) {    
        display: none;
    }
    .slider-wraper{
        order: -1;
        flex-basis: 100%;
    }
    .card{
        justify-content: flex-start;
        row-gap: 30px;
    }

}

/* for js */
.center{    
    position: relative;
    left: -996px;
}

@keyframes move-right {
    from {left: -996px;}
    to {left: -1992px;}
}
.transition-right{
   animation-name: move-right;
   animation-duration: 3s;
}

@keyframes move-left {
    from {left: -996px;}
    to {left: 0px;}
}
.transition-left{
   animation-name: move-left;
   animation-duration: 3s;
}