h1, h2, h3, h4, h5{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    color: #545454;
}

h1, h2, h3{
    line-height: 130%;
}

h1, h2{   
    font-size: 44px;
}

h3{
    font-size: 35px;

}
h3, h4, h5{
    letter-spacing: 0.06em;
}
h4{
    font-size: 20px;
    line-height: 115%;
}

h5{
    font-size: 15px;
    line-height: 110%;
}

.paragraph-l{
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
}

.paragraph-s{
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
}

.paragraph-l, .paragraph-s{
    font-family: 'Arial';
    font-weight: 400;
    color: #4C4C4C;
}

header, main, footer{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
.button-primary, .button-secondary{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
}
.button-primary:hover{
    background: #FDDCC4;
    
}
.button-secondary{
    border: 2px solid #F1CDB3;
    background: none;
}
.button-secondary:hover{
    background: #FDDCC4;
}
.button-primary:hover,
.button-secondary:hover{
    cursor: pointer;
}
.button-arrow{
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: none;
    background-image: url(../svg/Arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.button-arrow:hover{
    background: #FDDCC4;
    background-image: url(../svg/Arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.button-pagination-inactive{
    width: 52px;
    height: 52px;
    background: none;
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    color: #CDCDCD;
}
.button-pagination-active{
    width: 52px;
    height: 52px;
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    color: #292929;
}
.button-pagination{
    width: 52px;
    height: 52px;
    background: none;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    color: #292929;
}
.button-pagination-inactive,
.button-pagination-active,
.button-pagination{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
}